.markdown {
    font-weight: lighter !important;
    text-align: left;
    display: block;
    overflow: hidden;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6, .markdown p {
    font-weight: lighter !important;
    margin: 0; !important;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}
.markdown p, .markdown li {
    font-size: 16px !important;
    margin-top: 5px !important;
}

.markdown ul {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

img[alt="center-image-markdown"] {
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.markdown img {
    display: block;
    margin: auto;
    padding: 20px;
    max-width: 80%;
}